---
import Title from "./Title.astro";
---

<section class="mb-8">
  <Title title="O co tady jako jde?" big={false} />

  <p class="mt-16 mb-8 text-md p-4 md:p-6 rounded-lg bg-bg-code inline-block">
    Někdo sbírá motýly, poštovní známky nebo pivní půllitry. Mě baví sbírat příklady nepovedených uživatelských rozhranní. Cílem není si škodolibě kopnout. Alespoň teda ne vždy. Radši na praktických příkladech ukazuju co je špatně a proč. A jak by to šlo udělat <strong>lépe a radostněji</strong>.
  </p>
  <h2 class="font-heading text-xl md:text-2xl mb-2">Kdo tu rozdává ty moudra?</h2>
  <p class="mb-6">
    Ahoj, já jsem Lukáš Svoboda a už hodně dlouho se motám kolem tvorby webu. Aktuálně jako UX designér s kontraktem v <a href="https://www.ciklum.com/" target="_blank">Ciklum</a>. A taky jako freelancer, který občas <a href="https://www.skoleni-ict.cz/kurz/HTML5-a-CSS3-pro-pokrocile-Moderni-kodovani-webu-HTML5.aspx" target="_blank">školí ve firmách současný frontend s přesahem do designu</a> nebo holky základy kódování v <a href="https://www.czechitas.cz/" target="_blank">Czechitas</a>. 
  </p>
  <p class="mb-6">
    Pro SkillMea jsem natočil dva videokurzy (<a href="https://skillmea.sk/online-kurzy/svg-animacie" target="_blank">SVG</a>, <a href="https://skillmea.sk/online-kurzy/design-hacky-pre-vyvojarov" target="_blank">Design Hacky pro vývojáře</a>), kde jsem téma fuckupů a poučení z nich taky naťuknul.
  </p>
  <p class="mb-8">
    Více informací a moje více než deset let stará fotka jsou na mém <a href="https://navolnenoze.cz/prezentace/lukas-svoboda/" target="_blank">profilu Na volné noze</a> nebo <a href="https://www.linkedin.com/in/svobodal/" target="_blank">LinkedIn</a>. 
  </p>
  <h2 class="font-heading text-xl md:text-2xl mb-2">Kontakt</h2>
  <p class="mb-4 text-lg">
    <a href="mailto:info@lukassvoboda.cz">info@lukassvoboda.cz</a> 
  </p>
</section>
