---
import HeaderLink from "./HeaderLink.astro";
---

<Fragment>
  <nav>
    <section class="text-text-bold">
      <ul class="unset flex gap-6 [&>li]:p-0">
        <li><HeaderLink href="/">Fuckupy</HeaderLink></li>
        <li><HeaderLink href="/about">O projektu</HeaderLink></li>
      </ul>
    </section>
  </nav>
</Fragment>

